<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./header.ejs %>
  <style type="text/css">
    body
    {
      margin: 0 !important;
      padding:0 !important;
    }

    .box
    {
      padding: 1% !important;
      margin-left:20% !important;
      margin-right: 20% !important;
      margin-top: 0 !important;
    }

    .input-block
    {
      margin: 5%;
    }

    form div input
    {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button
    {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 2px solid gray;
    }
    p
    {
      text-align : center;
    }

  </style>
</head>
<body>
  <main>
  <div class="box">
    <p><b>Create a Product</b></p>
    <hr>
    <form class="login-form" action="http://localhost:2000/v1/products/create" method="post">
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="productName" placeholder="Product Name" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="number" name="productPrice" placeholder="Product Price" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="productDescription" placeholder="Product Description" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="sellerName" placeholder="Seller Name" required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="sellerAddress" placeholder="Seller Address" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="number" name="sellerContactNumber" placeholder="Contact Number" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="sellerPinCode" placeholder=" Area PIN Code" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="productCategory" placeholder="Mention Categories seperated by commas " autofocus required/>
      </div> 
      <button type="submit" name="submit">Create</button><br>      
    </form>   
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
