

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./header.ejs %>
  <style type="text/css">
    body
    {
      margin: 0 !important;
      padding:0 !important;
    }

    .change-box
    {
      padding: 1% !important;
      margin-left:20% !important;
      margin-right: 20% !important;
      margin-top: 0 !important;
    }

    .input-block
    {
      margin: 5%;
    }

    form div input
    {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button
    {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 2px solid gray;
    }
    p
    {
      text-align : center;
    }


  </style>

</head>
<body>
  <main>

  <div class="change-box">
  
    <p><b>Change Your Password</b></p>
     <hr>
    <form  action=" http://localhost:2000/v1/users/changePassword" method="post">
      <div class="input-block">
       Old Password: <input class="input-box" autocomplete="off" type="password" name="oldPassword" placeholder="Old Password" autofocus required />
      </div>
      <div class="input-block">
        New Password:<input class="input-box" autocomplete="off" type="password" name="newPassword" placeholder="New Password" required/>
      </div>
      <div class="input-block">
        Retype New Password:<input class="input-box" autocomplete="off" type="password" name="reNewPassword" placeholder="Retype New Password" required/>
      </div>      
      <button type="submit" name="submit">Change Password</button>
      
    </form>
    </a></p>
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
