
<div class="footer" >
    <p style="text-align:center;">&copy</p>
    <p style="text-align:center;">
      <a href="https://github.com/harshitKyal">
        <span>
          <i class="fa fa-github" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.facebook.com/KyalHarshit">
        <span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.instagram.com/harshit_kyal/">
        <span>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </span>
      </a>
    </p>
</div>


