
<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./header.ejs %>
  <style type="text/css">
  
    .dashboard-box
    {
      padding: 3% !important;
      margin-left:20% !important;
      margin-right: 20% !important;
      margin-top: 0 !important;
    }  
    p
    {
      text-align : center;
    }
    .link{
      float: right;
    }
  </style>
</head>
<body>
  <main>
  <div class="dashboard-box">
  
    <h2><p><b > Welcome <%= user.firstName %> </b></p></h2>
    <a class ="link" href ="http://localhost:2000/v1/users/logout">Logout</a><br>
    <a class ="link" href ="http://localhost:2000/v1/users/cartInfo">Cart</a><br>
    <a class ="link" href ="http://localhost:2000/v1/users/addToCart">Add product to Cart</a><br>
    <a class ="link" href ="http://localhost:2000/v1/users/removeFromCart" > Remove Products From Cart</a><br>
    <a class ="link" href ="http://localhost:2000/v1/users/changePassword/screen" >Change Password</a><br>
       <hr>
    <p> Your Email ID is : <code> <%= user.email %>  </code></p>
    
    <br><br><br><br><br><br><br><br>
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
