<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./header.ejs %>
  <style type="text/css">
    body
    {
      margin: 0 !important;
      padding:0 !important;
    }

    .login-box
    {
      padding: 1% !important;
      margin-left:20% !important;
      margin-right: 20% !important;
      margin-top: 0 !important;
    }

    .input-block
    {
      margin: 5%;
    }

    form div input
    {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button
    {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 2px solid gray;
    }
    p
    {
      text-align : center;
    }

    .link
    {
      text-decoration: none;
    }



  </style>
</head>
<body class="login-screen">
  <main>
  <div class="login-box">
    <br>
    <p><b>LOGIN TO YOUR ACCOUNT</b></p>
    <br> <hr>
    <form class="login-form" action="http://localhost:2000/v1/users/login" method="post">
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="email" name="email" placeholder="Email" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="password" name="password" placeholder="Password" required/>
      </div>
      <button type="submit" name="submit">Login</button><br>
      <p><b>Don't have an account?</b> </p>
      
    </form>
    <p><a class="link" href ="http://localhost:2000/v1/users/signup/screen" ><b>Sign Up Here</b></a></p>
    <p><a class="link" href ="http://localhost:2000/v1/users/forgot/screen" ><b>Forgot Password ?</b></a></p><br>
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>