<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./header.ejs %>
  <style type="text/css">
    body
    {
      margin: 0 !important;
      padding:0 !important;
    }

    .box
    {
      padding: 5% !important;
      margin-left:20% !important;
      margin-right: 20% !important;
      margin-top: 0 !important;
    }

    .input-block
    {
      margin: 5%;
    }

    form div input
    {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button
    {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 2px solid gray;
    }
    p
    {
      text-align : center;
    }
    .link
    {
      text-decoration: none;
      float: right;
    }





  </style>
</head>
<body >
  <main>
  <div class="box">
    <h3><p><b>Remove Product From Cart </b></p></h3>
    <a class ="link" href ="http://localhost:2000/v1/users/dashboard" > Home </a><br>
    <a class ="link" href ="http://localhost:2000/v1/users/cartInfo" >CartInfo</a><br>    
    <a class ="link" href ="http://localhost:2000/v1/users/addToCart" > Add Products To Cart</a><br>
   <hr>
    <form class="login-form" action="http://localhost:2000/v1/users/cart/remove" method="post">
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="productId" placeholder="Product ID" autofocus required/> <br> <br>
      <button type="submit" name="submit">Remove</button>
      
    </form>

  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
